@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Poppins, system-ui, sans-serif;
    }
    body {
        background-color: #F6FAFB;
        background-image: url("/ellipsis.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
}